﻿.btnCss {
    background-color: navy;
    color: white;
    font-size: 16;
    height: 60;
    border: 0;
}

.lblCss {
    background-color: lightgreen;
    color: black;
    font-size: 25;
}

.lbl2Css {
    color: aqua;
    font-size: 45;
    font-family: 'Agency FB';
}
